* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Amiri", serif;
  font-family: "Readex Pro", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.navbar .container-fluid img {
  border-radius: 50%;
}
.navbar {
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  position: relative;
  font-size: 1.5rem;
  margin: 0 15px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgb(119, 176, 250);
}
.navbar-expand-lg .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid white;
  height: 36px;
  width: 0%;
  transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before {
  width: 100%;
}
.navbar-toggler {
  background-color: white;
}
.main {
  width: 100%;
  padding-top: 20vh;
  height: 120vh;
  background-image: linear-gradient(
    to left,
    #000a2e,
    #000a2d,
    #00092b,
    #00092a,
    #000829
  );
}
.main .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.main .im {
  display: flex;
  flex-direction: column;
}
.main .im .icons {
  font-size: 50px;
  padding: 0 10vh;
  margin: 13px 0;
}
.main .im .icons i {
  margin: 0 10px;
  padding: 11px;
  border-radius: 50px;
  transition: 0.3s ease;
  color: white;
}
.main .im .icons i:hover {
  background-color: white;
  color: black;
}
.main img {
  width: 500px;
  border-radius: 50%;
}
.main .text {
  direction: rtl;
  color: white;
}
.main .text h1 {
  margin-bottom: 25px;
}
@media only screen and (max-width: 600px) {
  .main .text {
    direction: rtl;
    color: white;
    font-size: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .main .text {
    direction: rtl;
    color: white;
    font-size: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .main .text {
    direction: rtl;
    color: white;
    font-size: 10px;
  }
}
.who {
  height: 70vh;
  width: 100%;
}
.who .row {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 25vh;
}
.cards {
  margin: 0 30px;
}
.cards:hover .card {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px 2px black;
}
.cards:hover a {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 5px 2px black;
}
.txt {
  direction: rtl;
}
.card {
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.card a {
  padding: 10px 20px;
  background-color: #00092b;
  color: white;
  text-decoration: none;
  border-radius: 20px 10px;
  transition: 0.3s;
}

@media only screen and (max-width: 992px) {
  .main img {
    max-width: 400px;
    border-radius: 50%;
  }
  .main .im .icons {
    display: flex;
    margin: 25px -46px;
  }
}
@media only screen and (min-width: 1200px) {
  .main .im .icons {
    padding: 0 10vh;
  }
}
@media only screen and (max-width: 768px) {
  .main img {
    max-width: 300px;
    border-radius: 50%;
  }
  .cards {
    margin: 10px 0;
    width: 100%;
  }
  .main .row {
    margin: 0 -8px;
  }
}
.ourpages {
  background-color: #464646;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 65vh;
  margin-top: 10vh;
}
.ourpages .marshal-main .bord {
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourpages .marshal-main::before {
  content: "";
  border-left: 5px solid black;
  height: 72vh;
  position: absolute;
  left: 50%;
  margin-left: -1px;
}

.ourpages .marshal-main .bord img {
  border-radius: 15px;
}
.ourpages .marshal-main .bord a {
  margin: 20px 0;
  padding: 20px 30px;
  background-color: #00092a;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
  font-weight: 600;
}
.ourpages .marshal-main .bord a:hover {
  background-color: white;
  color: #00092a;
}
.social-acc .bord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-acc .bord .icons {
  margin: 20px 0;
}

.social-acc .bord .icons a i {
  margin: 0 10px;
  padding: 11px;
  border-radius: 50px;
  transition: 0.3s ease;
  color: white;
  font-size: 4rem;
}
.social-acc .bord .icons a i:hover {
  background-color: white;
  color: #00092a;
}

.ourpages .text {
  color: white;
  text-align: center;
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .social-acc {
    margin-left: 20vh;
  }
}
@media only screen and (max-width: 768px) {
  .ourpages .marshal-main::before {
    content: "";
    display: none;
  }

  .ourpages {
    margin-top: 200vh;
    padding-top: 11vh;
    height: 151vh;
  }
  .social-acc {
    margin-left: 0;
  }
}
.ahgar {
  height: 105vh;
  background-color: #00092a;
  margin-top: 20vh;
  width: 100%;
}
.bor {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  transition: 0.3s;
}

.ahgar h1 {
  border: 1px solid white;
  margin-top: 20px;
  padding: 15px 5px;
  color: white;
  border-radius: 12px 15px;
  transition: 0.3s;
  cursor: pointer;
}
.ahgar h1:hover {
  background-color: white;
  color: #000;
}
.ahgar .row .imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ahgar .row .imgs img {
  width: 250px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.4s;
}
.ahgar .row .imgs .one {
  display: flex;
}
.ahgar .row .imgs img:hover {
  filter: brightness(20%);
}

@media only screen and (max-width: 992px) {
  .ahgar .row .imgs img {
    width: 150px;
  }

  .ahgar .row .imgs .one {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .ahgar {
    margin-top: 235vh;
    height: 246vh;
  }
  .ahgar .row .imgs img {
    width: 250px;
  }
  .ahgar .row .imgs .one {
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) {
  .ahgar {
    height: 100vh;
  }
  .ahgar .row .imgs img {
    width: 150px;
  }
  .ahgar .row .imgs img {
    width: 150px;
  }
}

@media only screen and (max-width: 375px) {
  .ahgar {
    height: 300vh;
    margin-top: 266vh;
  }
}

@media only screen and (min-width: 1000px) {
  .ahgar .row .imgs img {
    width: 250px;
  }
}
.masbah {
  height: 150vh;

  margin-top: 5vh;
  width: 100%;
}

.masbah h1 {
  border: 1px solid rgb(0, 0, 0);
  margin-top: 20px;
  padding: 15px 5px;
  color: rgb(0, 0, 0);
  border-radius: 12px 15px;
  transition: 0.3s;
  cursor: pointer;
}
.masbah h1:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.masbah .row .imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.masbah .row .imgs img {
  width: 250px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.4s;
}
.masbah .row .imgs .one {
  display: flex;
}
.masbah .row .imgs img:hover {
  filter: brightness(20%);
}
.masbah .two {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .masbah {
    margin-top: 50vh;

    height: 220vh;
  }
  .masbah .row .imgs img {
    width: 250px;
  }
  .masbah .row .imgs .one {
    flex-direction: column;
  }
  .masbah .row .imgs .two {
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .masbah .row .imgs .one {
    display: flex;
  }
}


@media only screen and (max-width: 1200px) {
  .masbah .row .imgs img {
    width: 250px;
  }
}
@media only screen and (max-width: 992px) {
  .masbah .row .imgs img {
    width: 124px;
  }

  .masbah .row .imgs .one {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
    .masbah {
      height: 232vh;
    }
    .masbah .row .imgs img {
      width: 250px;
    }
    .masbah .row .imgs .one {
      flex-direction: column;
    }
  }
.fadet {
  height: 119vh;
background-color: #0f0f0f;
  margin-top: -14vh;
  width: 100%;
}

.fadet h1 {
  border: 1px solid rgb(255, 255, 255);
  margin-top: 20px;
  padding: 15px 5px;
  color: rgb(255, 255, 255);
  border-radius: 12px 15px;
  transition: 0.3s;
  cursor: pointer;
}
.fadet h1:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}
.fadet .row .imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fadet .row .imgs img {
  width: 250px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.4s;
}
.fadet .row .imgs .one {
  display: flex;
}
.fadet .row .imgs img:hover {
  filter: brightness(20%);
}
.fadet .two {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .fadet {
    margin-top: 160vh;

    height: 220vh;
  }
  .fadet .row .imgs img {
    width: 250px;
  }
  .fadet .row .imgs .one {
    flex-direction: column;
  }
  .fadet .row .imgs .two {
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .fadet .row .imgs .one {
    display: flex;
  }
}


@media only screen and (max-width: 1200px) {
  .fadet .row .imgs img {
    width: 100px;
  }
}
@media only screen and (max-width: 992px) {
  .fadet.row .imgs img {
    width: 130px;
  }

  .fadet .row .imgs .one {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
    .fadet {
      height: 300vh;
    }
    .fadet .row .imgs img {
      width: 250px;
    }
    .fadet .row .imgs .one {
      flex-direction: column;
    }
  }
  .contact-us{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: #00092a;
  }
  .contact-us .contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius:10px ;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
  }
  .contact-us .contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
  }
  .contact-us .contact-map iframe{
    width: 100%;
    height: 100%;
    
  }
  .contact-us .contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
  }
  .contact-us .contact-form h1{
    
    text-align: center;
    padding: 15px 0;
    margin-bottom: 20px;
  }
  .contact-us .contact-form h1::before{
    content: '';

  }
  .contact-us .contact-form .txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    transition: 0.4s ease;
  }
  .contact-us .contact-form .txt::placeholder{
    color: black;
    direction: rtl;
    transition: 0.4s ease;
  }
  .contact-us .contact-form .txt:hover::placeholder{
    
    color: white;
  }
  .contact-us .contact-form .txt:hover{
    background-color: black;
    color: white;
  }
  .contact-us .contact-form .txt:focus::placeholder{
    background-color: black;
    color: white;
  }
  .contact-us .contact-form .txt:focus{
    background-color: black;
    color: white;
  }

  .contact-us .contact-form .txtarea::placeholder{
    text-align: center;
    color: #000;
    direction: rtl;
  }
  .contact-us .contact-form .txtarea:hover::placeholder{
    text-align: center;
    color: #ffffff;
    direction: rtl;
  }
  .contact-us .contact-form .txtarea:hover{
    background-color: black;
    color: white;
  }
  .contact-us .contact-form .txtarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    transition: 0.3s;
  }
  .contact-us .contact-form .btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #000829;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
  }
  .contact-us .contact-form .btn:hover{
    background: black;
  }
  .contact-us .contact-form .btn:active{
    background-color: rgb(148, 148, 148);
    box-shadow: 0 0 0 5px rgb(148, 148, 148);
  }

  @media only screen and (max-width: 768px) {
    .contact-us .contact-in{
      flex-direction: column;
    }
   
  }
  .end{
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #464646;
    color: white;
  }
  .end p{
    font-size: 1.5rem;
  }
  .end .icons i{
    font-size: 25px;
    margin: 0 10px;
    padding: 12px 12px;
    background-color: #00092b;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
  }
  .end .icons i:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  @media only screen and (max-width: 768px){
    .end{
      padding: 15px 6px;
      display: flex;
      flex-direction: column-reverse;
      height: 28vh;
      justify-content: flex-end;
      align-items: flex-end;
      background-color: #464646;
      color: white;
    }
    .end p{
      font-size: 18px;
    }
    .contact-us{

    }
  }
  @media only screen and (max-width: 375px){
    .contact-us {
      margin-top: 80vh;
    }
  
  }
  @media only screen and (max-width: 1620px) {
    .main{
      height: 120vh;
    }
  }